<div id="<%= dom_id writing %>">
  <p>
    <strong>Title:</strong>
    <%= writing.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= writing.slug %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= writing.status %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= writing.published_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= writing.user_id %>
  </p>

</div>
