<% content_for :title, "Edit #{@writing.title}" %>

<%= render "shared/writings_navigation" %>

<%= render(Primer::Box.new(p: 4, mb: 4)) do %>
  <%= render(Primer::Beta::Heading.new(tag: :h1, mb: 1, classes: "writings-header main-title")) { "Editing writing" } %>
<% end %>

<%= render(Primer::Box.new(p: 4)) do %>
  <%= render "form", writing: @writing %>

  <div class="mt-4">
    <%= render(Primer::Beta::Link.new(href: writing_path(@writing.slug), mr: 2)) { "Show this writing" } %>
    <%= render(Primer::Beta::Link.new(href: writings_path)) { "Back to writings" } %>
  </div>
<% end %>
