<p style="color: green"><%= notice %></p>

<% content_for :title, "Writings by Wrantle" %>

<% content_for :meta_description do %>
  Collection of resources, writings and thoughts from Wrantle. Insights on building and growing businesses in emerging markets.
<% end %>

<% content_for :meta_keywords do %>
  <%= "writings, articles, resources, insights, emerging markets, business growth, wrantle" %>
<% end %>

<% content_for :og_title, "Writings | Wrantle" %>

<%= render "shared/writings_navigation" %>

<%= render(Primer::Box.new(p: 4, mb: 4)) do %>
  <%= render(Primer::Beta::Heading.new(tag: :h1, mb: 1, classes: "writings-header main-title")) { "Writings" } %>
  <%= render(Primer::Beta::Text.new(tag: :h3, color: :subtle, classes: "writings-header subtitle")) { "Collection of resources, writings and thoughts." } %>
<% end %>

<%= render(Primer::Box.new(p:4)) do %>
  <div id="writings">
    <% @writings.each do |writing| %>
      <%= render writing %>
    <% end %>
  </div>
<% end %>


<%# Contact Section %>
<%= render "shared/contact_box",
  title: "What can we help you with?",
  subtitle: "Talk to us about how we can support your journey" %>