<p style="color: green"><%= notice %></p>

<% content_for :title, "Writings" %>

<%= render "shared/writings_navigation" %>

<%= render(Primer::Box.new(p: 4, mb: 4)) do %>
  <%= render(Primer::Beta::Heading.new(tag: :h1, mb: 1, classes: "writings-header main-title")) { "Writings" } %>
  <%= render(Primer::Beta::Text.new(tag: :h3, color: :subtle, classes: "writings-header subtitle")) { "Collection of resources, writings and thoughts." } %>
<% end %>

<%= render(Primer::Box.new(p:4)) do %>
  <div id="writings">
    <% @writings.each do |writing| %>
      <%= render writing %>
    <% end %>
  </div>
<% end %>
