<% content_for :title, @writing.title %>

<%= render "shared/writings_navigation" %>

<p style="color: green"><%= notice %></p>

<article class="writing-article">
  <%= render @writing %>
  
  <div class="writing-content mt-4">
    <%= @writing.content %>
  </div>
</article>

<% if Current.user&.is_admin? %>
  <div class="mt-4">
    <%= button_to "Delete this writing", writing_path(@writing.slug), 
                  method: :delete, 
                  class: "btn btn-danger",
                  data: { confirm: "Are you sure you want to delete this writing?" } %>
  </div>
<% end %>
