<% content_for :title, @writing.title %>

<% content_for :meta_description do %>
  <%= @writing.excerpt.present? ? @writing.excerpt : strip_tags(@writing.content.to_plain_text.truncate(200)) %>
<% end %>

<% content_for :meta_keywords do %>
  <%= "writing, article, #{@writing.title.downcase}, wrantle" %>
<% end %>

<% content_for :og_title, @writing.title %>
<% content_for :og_description do %>
  <%= @writing.excerpt.present? ? @writing.excerpt : strip_tags(@writing.content.to_plain_text.truncate(200)) %>
<% end %>
<% if @writing.featured_image.attached? %>
  <% content_for :og_image, url_for(@writing.featured_image) %>
<% end %>

<% content_for :twitter_title, @writing.title %>
<% content_for :twitter_description do %>
  <%= @writing.excerpt.present? ? @writing.excerpt : strip_tags(@writing.content.to_plain_text.truncate(200)) %>
<% end %>
<% if @writing.featured_image.attached? %>
  <% content_for :twitter_image, url_for(@writing.featured_image) %>
<% end %>

<%= render "shared/writings_navigation" %>

<p style="color: green"><%= notice %></p>

<article class="writing-article">
  <%= render @writing %>
  
  <div class="writing-content mt-4">
    <%= @writing.content.to_s %>
  </div>
</article>

<% if Current.user&.is_admin? %>
  <div class="mt-4">
    <%= button_to "Delete this writing", writing_path(@writing.slug), 
                  method: :delete, 
                  class: "btn btn-danger",
                  data: { confirm: "Are you sure you want to delete this writing?" } %>
  </div>
<% end %>
