<%# Contact Box Partial %>
<%= render(Primer::Box.new(p: 4, mt: 6, border: true, border_right: 0, border_left: 0)) do %>
  <%= render(Primer::Beta::Text.new(tag: :h3, classes: "features-heading")) { title } %>
  <%= render(Primer::Beta::Text.new(tag: :p, classes: "services-subheader")) { subtitle } %>
  
  <div class="features-cards">
    <%= render(Primer::Box.new(bg: :success, p: 4, border_radius: 0, border: false, border_right: 0)) do %>
      <div class="feature-card-content">
        <div class="service-icon">
          <%= render "shared/schedule_icon" %>
        </div>
        <div>
          <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
            <%= render(Primer::Beta::Text.new(tag: :h3)) { "Schedule a Chat" } %>
          <% end %>
          <%= render(Primer::Beta::Text.new(tag: :p, classes: "features-card-text")) { "Book a meeting with a member of our team" } %>
        </div>
      </div>
    <% end %>

    <%= render(Primer::Box.new(bg: :success, border: false, p: 4, border_radius: 0, border_left: 0, border_right: 0)) do %>
      <div class="feature-card-content">
        <div class="service-icon">
          <%= render "shared/info_icon" %>
        </div>
        <div>
          <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
            <%= render(Primer::Beta::Text.new(tag: :h3)) { "Request Information" } %>
          <% end %>
          <%= render(Primer::Beta::Text.new(tag: :p, classes: "features-card-text")) { "Learn more about our services" } %>
        </div>
      </div>
    <% end %>

    <%= render(Primer::Box.new(bg: :success, border: false, p: 4, border_radius: 0, border_left: 0)) do %>
      <div class="feature-card-content">
        <div class="service-icon">
          <%= render "shared/assessment_icon" %>
        </div>
        <div>
          <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
            <%= render(Primer::Beta::Text.new(tag: :h3)) { "Quick Assessment" } %>
          <% end %>
          <%= render(Primer::Beta::Text.new(tag: :p, classes: "features-card-text")) { "Get an quick assessment of your needs" } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
