<%= render(Primer::Box.new(p: 4, mt: 4, border: false, border_right: 0, border_left: 0, border_bottom: 0)) do %>
  <%= render(Primer::Beta::Text.new(tag: :h3, classes: "features-heading")) { "We are more than just advisors" } %>
  <%= render(Primer::Beta::Text.new(tag: :p, classes: "services-subheader")) { "We are partners in reshaping the future of Africa with innovative teams." } %>
  
  <div class="features-cards">
    <%= render(Primer::Box.new(bg: :subtle, p: 4, border_radius: 0, border: true, border_right: 0)) do %>
      <div class="feature-card-content">
        <div class="service-icon">
          <%= render "shared/compass_icon" %>
        </div>
        <div>
          <%= render(Primer::Beta::Link.new(href: single_north_star_path, classes: "features-card-heading")) do %>
            <%= render(Primer::Beta::Text.new(tag: :h3)) { "A Single North Star" } %>
          <% end %>
          <%= render(Primer::Beta::Text.new(tag: :p, classes: "features-card-text")) { "A Simple, Effective Model for Good Service" } %>
        </div>
      </div>
    <% end %>

    <%= render(Primer::Box.new(bg: :subtle, border: true, p: 4, border_radius: 0, border_left: 0, border_right: 0)) do %>
      <div class="feature-card-content">
        <div class="service-icon">
          <%= render "shared/pillars_icon" %>
        </div>
        <div>
          <%= render(Primer::Beta::Link.new(href: live_impact_thrive_path, classes: "features-card-heading")) do %>
            <%= render(Primer::Beta::Text.new(tag: :h3)) { "Live, Impact & Thrive" } %>
          <% end %>
          <%= render(Primer::Beta::Text.new(tag: :p, classes: "features-card-text")) { "Create Impact Living Your Best Life" } %>
        </div>
      </div>
    <% end %>

    <%= render(Primer::Box.new(bg: :subtle, border: true, p: 4, border_radius: 0, border_left: 0)) do %>
      <div class="feature-card-content">
        <div class="service-icon">
          <%= render "shared/wave_icon" %>
        </div>
        <div>
          <%= render(Primer::Beta::Link.new(href: impact_beyond_us_path, classes: "features-card-heading")) do %>
            <%= render(Primer::Beta::Text.new(tag: :h3)) { "Impact Beyond Us" } %>
          <% end %>
          <%= render(Primer::Beta::Text.new(tag: :p, classes: "features-card-text")) { "An Incubator For Service Talents" } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
