<%= render(Primer::Box.new(p: 4, mt: 4, border: false, border_right: 0, border_left: 0, border_bottom: 0)) do %>
  <%= render(Primer::Beta::Text.new(tag: :h3, classes: "features-heading")) { "Every advisor your team needs to build the future" } %>
  <%= render(Primer::Beta::Text.new(tag: :p, classes: "services-subheader")) { "We are a niche team of advisors working only with technology and innovation focused ventures." } %>
 
  <div class="features-cards mt-8">
    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_top: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/global_strategy_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Global Corporate Strategy" } %>
      <% end %>
    <% end %>

    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_left: 0, border_bottom: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/tech_ip_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Intellectual Property" } %>
      <% end %>
    <% end %>

    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_top: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/finance_investments_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Finance & Investments" } %>
      <% end %>
    <% end %>

    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_left: 0, border_bottom: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/legal_compliance_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Legal & Compliance" } %>
      <% end %>
    <% end %>
     <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_top: 0, border_radius: 0)) do %>
      <div class="service-icon bg">
        <%= render "shared/operational_excellence_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Operational Excellence" } %>
      <% end %>

    <% end %>
    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_left: 0, border_bottom: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/risk_esg_governance_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Risk, ESG & Governance" } %>
      <% end %>
    <% end %>
  </div>
<% end %>
