<%= render(Primer::Box.new(p: 4, mt: 4, border: false, border_right: 0, border_left: 0, border_bottom: 0)) do %>
  <%= render(Primer::Beta::Text.new(tag: :h3, classes: "features-heading")) { "Every advisor your team needs to build the future" } %>
  <%= render(Primer::Beta::Text.new(tag: :p, classes: "services-subheader")) { "We are a niche firm serving only teams shaping the future of emerging markets. We work with only technology and innovation focused startups. " } %>
 
  <div class="features-cards">
    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_top: 0, border_radius: 2)) do %>
      <div class="service-icon">
        <%= render "shared/compass_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Global Entity Management" } %>
      <% end %>
       <% end %>

    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_left: 0, border_bottom: 0, border_radius: 2)) do %>
      <div class="service-icon">
        <%= render "shared/growth_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "IP & Brand Protection" } %>
      <% end %>
    <% end %>

    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_top: 0, border_radius: 2)) do %>
      <div class="service-icon">
        <%= render "shared/pillars_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Fundraising & Investments" } %>
      <% end %>
    <% end %>

     <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_left: 0, border_bottom: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/pillars_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Tax Structure Advisory" } %>
      <% end %>
    <% end %>
    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_top: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/pillars_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Legal & Compliance" } %>
      <% end %>
    <% end %>
     <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_left: 0, border_bottom: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/pillars_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Risk Management" } %>
      <% end %>
    <% end %>
    <%= render(Primer::Box.new(bg: :default, border: true, p: 4, border_right: 0, border_bottom: 0, border_radius: 0)) do %>
      <div class="service-icon">
        <%= render "shared/pillars_icon" %>
      </div>
      <%= render(Primer::Beta::Link.new(href: "#", classes: "features-card-heading")) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3)) { "Governance & ESG " } %>
      <% end %>
    <% end %>
  </div>
<% end %>
