<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Contact type:</strong>
    <%= contact.contact_type %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact.message %>
  </p>

  <p>
    <strong>Preferred date:</strong>
    <%= contact.preferred_date %>
  </p>

  <p>
    <strong>Preferred time:</strong>
    <%= contact.preferred_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contact.status %>
  </p>

</div>
