<% content_for :title, "Contact Us - Wrantle" %>
<%# Main Navigation %>
<%= render "shared/main_sections_navigation" %>

<div class="d-flex flex-justify-left">

  <%= render(Primer::Box.new(p: 4, mt: 4, mb: 4, style: "width: 100%; max-width: 600px;")) do %>
   <%= render(Primer::Beta::Text.new(tag: :h1, mb: 4)) do %>
        <%= @contact.contact_type.humanize %>
      <% end %>
    <%= render(Primer::Box.new(bg: :success, border: false, p: 4, border_radius: 0)) do %>
      <%= render "form", contact: @contact %>
    <% end %>
  <% end %>
</div>

<br>

<div>

</div>
