<% content_for :title, "Request Submitted - Wrantle" %>
<%# Main Navigation %>
<%= render "shared/main_sections_navigation" %>

<div class="d-flex flex-justify-left">
  <%= render(Primer::Box.new(p: 4, border: false, mt: 4, mb: 4, style: "width: 100%; max-width: 600px;")) do %>
    <% if notice.present? %>
      <%= render(Primer::Beta::Flash.new(scheme: :success, full: true, mb: 4, border_radius: 0, border: false)) { notice } %>
    <% end %>

    <%= render(Primer::Box.new(bg: :success, border: false, p: 4, border_radius: 0)) do %>
      

      <%= render(Primer::Box.new(mb: 4)) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3, mb: 2)) { "Contact Data" } %>
        
        <dl>
          <dt><%= render(Primer::Beta::Text.new(weight: :bold)) { "Name" } %></dt>
          <dd class="mb-2"><%= @contact.name %></dd>
          
          <dt><%= render(Primer::Beta::Text.new(weight: :bold)) { "Email" } %></dt>
          <dd class="mb-2"><%= @contact.email %></dd>
          
          <dt><%= render(Primer::Beta::Text.new(weight: :bold)) { "Phone" } %></dt>
          <dd class="mb-2"><%= @contact.phone %></dd>
        </dl>
      <% end %>

      <% if @contact.contact_type == "schedule_chat" %>
        <%= render(Primer::Box.new(mb: 4)) do %>
          <%= render(Primer::Beta::Text.new(tag: :h3, mb: 2)) { "Meeting Time" } %>
          
          <dl>
            <dt><%= render(Primer::Beta::Text.new(weight: :bold)) { "Date" } %></dt>
            <dd class="mb-2"><%= @contact.preferred_date.strftime("%B %d, %Y") %></dd>
            
            <dt><%= render(Primer::Beta::Text.new(weight: :bold)) { "Time" } %></dt>
            <dd class="mb-2"><%= @contact.preferred_time.strftime("%I:%M %p") %></dd>
          </dl>
        <% end %>
      <% end %>

      <%= render(Primer::Box.new(mb: 4)) do %>
        <%= render(Primer::Beta::Text.new(tag: :h3, mb: 2)) { "Message" } %>
        <%= render(Primer::Box.new(bg: :default, p: 3, border_radius: 0)) do %>
          <%= simple_format(@contact.message) %>
        <% end %>
      <% end %>

      <%= render(Primer::Box.new(mt: 4)) do %>
        <%= render(Primer::Beta::Text.new(color: :muted, text_align: :center)) do %>
          <% if @contact.contact_type == "schedule_chat" %>
            We'll review your preferred meeting time and confirm the schedule shortly.
          <% elsif @contact.contact_type == "request_info" %>
            We'll gather the information you need and get back to you soon.
          <% else %>
            We'll review your needs and provide a detailed assessment shortly.
          <% end %>
        <% end %>

        <div class="text-right mt-4">
          <%= render(Primer::Beta::Link.new(href: root_path, classes: "btn color-bg-default border-0 px-6")) do %>
            Return to Home
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
